* {
    margin: 0;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Garamond;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    transform: scale(1.5);
}

header {
    display: flex;
    padding-bottom: 20px;
}

header>h2 {
    padding-left: 50px;
    padding-top: 20px;
}

header>a {
    margin-left: 20px;
    margin-top: 22px;
    font-size: larger;
}

header>.write {
    margin-right: 620px;
}

header>.img>a>img {
    margin-top: 10px;
    margin-left: 20px;
    width: 40px;
    transition: 0.2s;
}

header>.img>a:hover>img {
    transform: scale(1.5);
}

.stories1 {
    display: flex;
    height: 552px;
    width: 1518px;
}

.stories1>img {
    width: auto;
}

.stories1>.text1 {
    width: 708px;
}

.stories1>.text1>h1 {
    font-size: 50px;
    margin-left: 60px;
    margin-top: 150px;
    margin-bottom: 20px;
    font-weight: normal;
}

.stories1>.text1>h3 {
    font-weight: normal;
    width: 600px;
    margin-left: 60px;
    margin-bottom: 10px;
}

.stories1>.text1>h4 {
    font-weight: normal;
    width: 600px;
    margin-left: 60px;
    margin-bottom: 40px;
}

.stories1>.text1>a {
    margin-left: 60px;
    border: 1px solid #000;
    position: absolute;
    padding: 15px 30px 15px 30px;
    font-size: x-large;
    border-radius: 10px;
}

.stories2 {
    display: flex;
    height: 552px;
    width: 1518px;
}

.stories2>img {
    width: auto;
    height: auto;
}

.stories2>.text1 {
    width: 908px;
}

.stories2>.text1>h1 {
    font-size: 50px;
    margin-left: 160px;
    margin-top: 150px;
    margin-bottom: 20px;
    font-weight: normal;
}

.stories2>.text1>h3 {
    font-weight: normal;
    width: 600px;
    margin-left: 160px;
    margin-bottom: 10px;
}

.stories2>.text1>h4 {
    font-weight: normal;
    width: 600px;
    margin-left: 160px;
    margin-bottom: 40px;
}

.stories2>.text1>a {
    margin-left: 160px;
    border: 1px solid #000;
    position: absolute;
    padding: 15px 30px 15px 30px;
    font-size: x-large;
    border-radius: 10px;
}

#gallery>h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
    font-size: xx-large;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.gallery-item {
    display: flex;
}

.image-container {
    position: relative;
    width: 380px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    margin-top: -20px;
}

.text2 {
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.text3>a {
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}

.arrow {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.arrow.left {
    position: absolute;
    left: 10px;
}

.arrow.right {
    position: absolute;
    right: 10px;
}

#features>.header>h2 {
    text-align: center;
    font-weight: normal;
    font-size: xx-large;
    margin-top: 50px;
    margin-bottom: 50px;
}

.line {
    display: flex;
    flex-direction: column;
}

.line1 {
    display: flex;
}

.line1 p {
    width: 360px;
    margin-left: 50px;
}

.line2 p {
    width: 360px;
    margin-left: 50px;
}

.line1>.photo1 {
    width: 450px;
    height: 400px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-left: 100px;
}

.line1>.photo1>img {
    padding-left: 200px;
    padding-top: 150px;
}

.line1>.photo1>h3 {
    padding-left: 205px;
    padding-top: 20px;
}

.line1>.photo1>p {
    padding-top: 20px;
    text-align: center;
}

.line1>.photo2 {
    width: 450px;
    height: 400px;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.line1>.photo2>h3 {
    padding-left: 205px;
    padding-top: 20px;
}

.line1>.photo2>p {
    padding-top: 20px;
    text-align: center;
}

.line1>.photo2>img {
    padding-left: 200px;
    padding-top: 150px;
}

.line1>.photo3 {
    width: 450px;
    height: 400px;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}

.line1>.photo3>h3 {
    padding-left: 205px;
    padding-top: 20px;
}

.line1>.photo3>p {
    padding-top: 20px;
    text-align: center;
}

.line1>.photo3>img {
    padding-left: 205px;
    padding-top: 150px;
}

.line2 {
    display: flex;
}

.line2>.photo4 {
    width: 450px;
    height: 400px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    margin-left: 100px;
}

.line2>.photo4>h3 {
    padding-left: 205px;
    padding-top: 20px;
}

.line2>.photo4>p {
    padding-top: 20px;
    text-align: center;
}

.line2>.photo4>img {
    padding-left: 205px;
    padding-top: 150px;
}

.line2>.photo5 {
    width: 450px;
    height: 400px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

.line2>.photo5>h3 {
    padding-left: 205px;
    padding-top: 20px;
}

.line2>.photo5>p {
    padding-top: 20px;
    text-align: center;
}

.line2>.photo5>img {
    padding-left: 205px;
    padding-top: 150px;
}

.line2>.photo6 {
    width: 450px;
    height: 400px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

.line2>.photo6>h3 {
    padding-left: 205px;
    padding-top: 20px;
}

.line2>.photo6>p {
    padding-top: 20px;
    text-align: center;
}

.line2>.photo6>img {
    padding-left: 205px;
    padding-top: 150px;
}

#form>h1 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;
}

form>.all>.input>label {
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
}

.input {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin-left: 150px;
    width: 300px;
}

.all {
    display: flex;
}

.radio {
    display: flex;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio>h3:first-child {
    margin-left: 150px;
}

input[type="radio"] {
    margin-left: 50px;
}

.topic {
    display: flex;
    flex-direction: column;
    font-size: larger;
    margin-bottom: 20px;
}

.topic>h3 {
    margin-left: 150px;
    margin-bottom: 10px;
}

select {
    width: 1220px;
    margin-left: 150px;
}

textarea {
    margin-left: 150px;
    width: 1215px;
    height: 153px;
}

.textarea>h3 {
    margin-left: 150px;
    margin-bottom: 10px;
    font-size: x-large;
}

.checkbox {
    display: flex;
}

input[type="checkbox"] {
    margin-left: 150px;
    margin-top: 30px;
}

.checkbox>h3 {
    margin-left: 20px;
    margin-top: 35px;
}

.footerform {
    display: flex;
    justify-content: space-between;
    width: 1370px;
}

.footerform>a {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 20px;
}

#form {
    margin-bottom: 20px;
}