* {
    margin: 0;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Garamond;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    transform: scale(1.5);
}

header {
    display: flex;
    padding-bottom: 20px;
}

header>h2 {
    padding-left: 50px;
    padding-top: 20px;
}

header>a {
    margin-left: 20px;
    margin-top: 22px;
    font-size: larger;
}

header>.write {
    margin-right: 620px;
}

header>.img>a>img {
    margin-top: 10px;
    margin-left: 20px;
    width: 40px;
    transition: 0.2s;
}

header>.img>a:hover>img {
    transform: scale(1.5);
}

.stories1 {
    display: flex;
    height: 552px;
    width: 1518px;
}

.stories1>img {
    width: auto;
}

.stories1>.text1 {
    width: 708px;
}

.stories1>.text1>h1 {
    font-size: 50px;
    margin-left: 60px;
    margin-top: 150px;
    margin-bottom: 20px;
    font-weight: normal;
}

.stories1>.text1>h3 {
    font-weight: normal;
    width: 600px;
    margin-left: 60px;
    margin-bottom: 10px;
}

.stories1>.text1>h4 {
    font-weight: normal;
    width: 600px;
    margin-left: 60px;
    margin-bottom: 40px;
}

.stories1>.text1>a {
    margin-left: 60px;
    border: 1px solid #000;
    position: absolute;
    padding: 15px 30px 15px 30px;
    font-size: x-large;
    border-radius: 10px;
}

.stories2 {
    display: flex;
    height: 552px;
    width: 1518px;
}

.stories2>img {
    width: auto;
    height: auto;
}

.stories2>.text1 {
    width: 908px;
}

.stories2>.text1>h1 {
    font-size: 50px;
    margin-left: 160px;
    margin-top: 150px;
    margin-bottom: 20px;
    font-weight: normal;
}

.stories2>.text1>h3 {
    font-weight: normal;
    width: 600px;
    margin-left: 160px;
    margin-bottom: 10px;
}

.stories2>.text1>h4 {
    font-weight: normal;
    width: 600px;
    margin-left: 160px;
    margin-bottom: 40px;
}

.stories2>.text1>a {
    margin-left: 160px;
    border: 1px solid #000;
    position: absolute;
    padding: 15px 30px 15px 30px;
    font-size: x-large;
    border-radius: 10px;
}